/build

src/main/res/values/dimens.xml

src/main/res/values-sw1024dp/auto_dimens_positive.xml
src/main/res/values-sw1080dp/auto_dimens_positive.xml
src/main/res/values-sw1280dp/auto_dimens_positive.xml
src/main/res/values-sw1440dp/auto_dimens_positive.xml
src/main/res/values-sw2560dp/auto_dimens_positive.xml
src/main/res/values-sw320dp/auto_dimens_positive.xml
src/main/res/values-sw360dp/auto_dimens_positive.xml
src/main/res/values-sw3840dp/auto_dimens_positive.xml
src/main/res/values-sw384dp/auto_dimens_positive.xml
src/main/res/values-sw411dp/auto_dimens_positive.xml
src/main/res/values-sw480dp/auto_dimens_positive.xml
src/main/res/values-sw540dp/auto_dimens_positive.xml
src/main/res/values-sw600dp/auto_dimens_positive.xml
src/main/res/values-sw720dp/auto_dimens_positive.xml
src/main/res/values-sw800dp/auto_dimens_positive.xml

src/main/res/values-sw1024dp/auto_dimens_negative.xml
src/main/res/values-sw1080dp/auto_dimens_negative.xml
src/main/res/values-sw1280dp/auto_dimens_negative.xml
src/main/res/values-sw1440dp/auto_dimens_negative.xml
src/main/res/values-sw2560dp/auto_dimens_negative.xml
src/main/res/values-sw320dp/auto_dimens_negative.xml
src/main/res/values-sw360dp/auto_dimens_negative.xml
src/main/res/values-sw3840dp/auto_dimens_negative.xml
src/main/res/values-sw384dp/auto_dimens_negative.xml
src/main/res/values-sw411dp/auto_dimens_negative.xml
src/main/res/values-sw480dp/auto_dimens_negative.xml
src/main/res/values-sw540dp/auto_dimens_negative.xml
src/main/res/values-sw600dp/auto_dimens_negative.xml
src/main/res/values-sw720dp/auto_dimens_negative.xml
src/main/res/values-sw800dp/auto_dimens_negative.xml